#!/usr/bin/make -f

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

export PWD=$(shell pwd)

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp: 
	
	dh_testdir
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:

	dh_testdir
	$(MAKE)
	touch build-stamp

clean:

	dh_testdir
	dh_testroot
	
	-rm -f configure-stamp build-stamp 

	-$(MAKE) distclean
	-test -r /usr/share/misc/config.sub && \
	  cp -f /usr/share/misc/config.sub config.sub
	-test -r /usr/share/misc/config.guess && \
	  cp -f /usr/share/misc/config.guess config.guess

	dh_clean

install: build
	
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=`pwd`/debian/xfce4-utils

binary-indep: build install

binary-arch: build install

	dh_testdir
	dh_testroot
	
	dh_installdocs TODO
	dh_installmenu
	
	dh_installchangelogs ChangeLog
	dh_strip

	# undocumented manpages
	dh_undocumented xfbd4.1 xfbdmgr4.1 xfmouse4.1 xfrun4.1 xftaskbar4.1

	dh_compress
	dh_fixperms

	dh_installdeb
	dh_shlibdeps
	
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
