[Desktop Entry]
Encoding=UTF-8
# The names/descriptions should really be better
Name=Xfce Session
Name[fr]=Session Xfce
Name[et]=Xfce 4 sessioon
Name[fi]=Xfce 4 -istunto
Name[he]=Xfce 4
Name[ko]=Xfce 4 세션
Name[nl]=Xfce 4 Sessie
Name[ru]=Сеанс Xfce 4
Name[zh_TW]=Xfce 4 工作階段
Comment=Use this session to run Xfce as your desktop environment
Comment[et]=kasuta seda sessiooni, et Xfce käivituks sinu töökeskkonnana
Comment[fi]=Valitse tämä istunto käyttääksesi Xfce:tä työpöytäympäristönäsi
Comment[fr]=Sélectionner cette session pour utiliser Xfce comme environnment graphique
Comment[he]=השתמש בזה כדי להפעיל את Xfce כשולחן העובדה שלך
Comment[ko]=사용자 데스크탑 환경으로 Xfce를 이용합니다.
Comment[nl]=Deze optie start de Xfce 4 Desktop Environment
Comment[ru]=Запускает рабочую среду Xfce 
Comment[zh_TW]=使用這個工作階段載入 Xfce 4 作為您的桌面環境
Exec=startxfce4
Icon=
Type=Application
