[Desktop Entry]
Encoding=UTF-8
# The names/descriptions should really be better
Name=Xfce Session
Name[fr]=Session Xfce
Comment=Use this session to run Xfce as your desktop environment
Comment[fr]=Sélectionner cette session pour utiliser Xfce comme environnment graphique
Exec=startxfce4
Icon=
Type=Application
